<div id="wi">
    <div class="left">
        <p id="symbol">{{watchlistItem.name}} ({{watchlistItem.symbol}})</p>
        <p id="sector">{{watchlistItem.sector}}</p>
    </div>
    <div *ngIf="watchlistItem.isProfit" class="right-profit">
        <p id="cp">${{watchlistItem.currentPrice}}</p>
        <p id="plp">+{{watchlistItem.profitLossPercent}}%</p>
    </div>
    <div *ngIf="!watchlistItem.isProfit" class="right-loss">
        <p id="cp">${{watchlistItem.currentPrice}}</p>
        <p id="plp">-{{watchlistItem.profitLossPercent}}%</p>
    </div>
</div>