<!DOCTYPE html>

<div class="app">
    <div id="app-my-watchlist">
        <app-my-watchlist [transactions]="transactions" [dashboardData]="dashboardData" [holdings]="holdings"
            [watchlistItems]="watchlistItems"></app-my-watchlist>
        <p class="no-stocks" *ngIf="watchlistItems.length == 0">No stocks to show!</p>
    </div>

    <div>
        <div id="app-center-panel">
            <app-center-panel></app-center-panel>
        </div>

        <div>
            <app-sector-chart></app-sector-chart>
        </div>
        <div>
            <app-market-cap-chart></app-market-cap-chart>
        </div>

    </div>

    <div id="app-insights-actions">
        <app-insights-actions [transactions]="transactions" [dashboardData]="dashboardData" [holdings]="holdings"
            [watchlistItems]="watchlistItems"></app-insights-actions>
    </div>
</div>