#app-my-watchlist {
    border: none;
    padding: none;
    width: fit-content;
}

.app {
    display: flex;
    justify-content: space-between;
}

#app-insights-actions {
    border: none;
    padding: none;
    width: fit-content;
}