#app-my-watchlist {
    border: none;
    padding: none;
    width: fit-content;
}

.app {
    display: flex;
    justify-content: space-between;
}

#app-insights-actions {
    border: none;
    padding: none;
    width: fit-content;
}

.scrollable-container {
    height: 100vh;
    /* or any fixed height you prefer */
    overflow-y: auto;
    border: 1px solid #ccc;
    /* optional: just to visualize the container */
}