<div>
    <div class="title">
        <p id="title">Your {{title}}</p>
        <hr>
    </div>
    <div *ngFor="let item of items">
        <div class="holding-profit" *ngIf="item.isProfit">
            <div>
                <p id="name">{{item.name}}</p>
            </div>
            <div>
                <p id="pl">{{item.profitLossPercent}}</p>
            </div>
        </div>
        <div class="holding-loss" *ngIf="!item.isProfit">
            <div>
                <p id="name">{{item.name}}</p>
            </div>
            <div>
                <p id="pl">-{{item.profitLossPercent}}</p>
            </div>
        </div>
    </div>
</div>
