<div>
    <div class="title">
        <p id="title">Your {{title}}</p>
        <hr>
    </div>
    <div *ngFor="let item of items">
        <div class="holding-profit" *ngIf="item.isProfit">
            <div>
                <p id="name">{{item.name}}</p>
            </div>
            <div>
                <p id="pl" *ngIf="displayType=='percent'">+{{item.profitLossPercent | number:'1.2-2'}}%</p>
                <p id="pl" *ngIf="displayType=='dollar'">${{item.profitLossDollar | number:'1.2-2'}}</p>
            </div>
        </div>
        <div class="holding-loss" *ngIf="!item.isProfit">
            <div>
                <p id="name">{{item.name}}</p>
            </div>
            <div>
                <p id="pl" *ngIf="displayType=='percent'">-{{item.profitLossPercent | number:'1.2-2'}}%</p>
                <p id="pl" *ngIf="displayType=='dollar'">${{item.profitLossDollar | number:'1.2-2'}}</p>
            </div>
        </div>
    </div>
</div>