<div>
    <table class="table">
        <caption id="caption">My Transactions</caption>
        <thead class="head">
            <tr class="row">
                <th class="header">Symbol</th>
                <th class="header">Name</th>
                <th class="header">Action</th>
                <th class="header">Quantity</th>
                <th class="header">Bought/Sold At</th>
                <th class="header">Current Price</th>
                <th class="header">Date</th>
            </tr>
        </thead>
        <tbody class="body">
            <tr class="row" *ngFor="let item of transactionsEntries">
                <td class="cell">{{item.symbol}}</td>
                <td id="stockname" class="cell">{{item.name}}</td>
                <td *ngIf="item.action=='buy'" class="cell" id="buy">{{item.action}}</td>
                <td *ngIf="item.action=='sell'" class="cell" id="sell">{{item.action}}</td>
                <td class="cell">{{item.quantity}}</td>
                <td class="cell">{{item.bsPrice}}</td>
                <td class="cell">{{item.currPrice}}</td>
                <td style="width: fit-content;" class="cell">{{item.date}}</td>
            </tr>
        </tbody>
    </table>
</div>