<div>
  <div class="a-title">
    <p id="a">Actions</p>
    <hr>
  </div>
  <div class="buttons">
    <div>
      <button class="button" (click)="openBuy('buy')">Buy</button>
    </div>
    <div>
      <button class="button" (click)="openSell('sell')">Sell</button>
    </div>
    <div>
      <button class="button" (click)="resetPortfolio('reset')">Reset</button>
    </div>
    <!-- Buy Popup -->
    <div *ngIf="activePopup === 'buy'" class="popup-overlay">
      <div class="popup-content">
        <button class="close-btn" (click)="closeBuy()">X</button>
        <form (ngSubmit)="onBuy('buy')" #form1="ngForm">
          <label for="text1">Symbol:</label>
          <app-search (selectedSymbol)="handleSelectedSymbol($event)"></app-search>

          <label for="text2">Buy Price:</label>
          <input id="text2" name="text2" [(ngModel)]="currentBuyPrice" required>

          <label for="number">Quantity:</label>
          <select id="number" name="number" [(ngModel)]="selectedBuyQuantity" required>
            <option *ngFor="let n of qty" [value]="n">{{ n }}</option>
          </select>

          <!-- Container for buttons -->
          <div class="buttons-container">
            <button class="buy-sell-btn" type="submit">Buy</button>
            <button class="cancel-btn" type="button" (click)="closeBuy()">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Sell Popup -->
    <div *ngIf="activePopup === 'sell'" class="popup-overlay">
      <div class="popup-content">
        <button class="close-btn" (click)="closeSell()">X</button>
        <form (ngSubmit)="onSell('sell')" #form2="ngForm">
          <label for="text3">Symbol:</label>
          <app-search (selectedSymbol)="handleSelectedSymbol($event)"></app-search>

          <label for="text4">Selling Price:</label>
          <input id="text4" name="text4" [(ngModel)]="currentSellPrice" required>

          <label for="number">Quantity:</label>
          <select id="number" name="number" [(ngModel)]="selectedSellQuantity" required>
            <option *ngFor="let n of qty" [value]="n">{{ n }}</option>
          </select>

          <!-- Container for buttons -->
          <div class="buttons-container">
            <button class="buy-sell-btn" type="submit">Sell</button>
            <button class="cancel-btn" type="button" (click)="closeSell()">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <!-- view transactions -->
    <!-- <div *ngIf="activePopup === 'view'" class="popup-overlay">
      <div class="popup-content">
        <button class="close-btn" (click)="closeTransactions()">X</button>
        <app-transactions></app-transactions>
        <div class="buttons-container">
          <button class="cancel-btn" type="button" (click)="closeTransactions()">Cancel</button>
        </div>
      </div>
    </div> -->

  </div>
  <div>
    <app-transactions [transactions]="transactions"></app-transactions>
  </div>
</div>