.a-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 40px;
    font-size: x-large;
}
.a-title #a{
    margin: unset;
}
hr{
    margin: unset;
}
.buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    border-style: hidden;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 6px 10px;
}
/* src/app/standalone.component.css */
.container {
    position: relative;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
    width: min-content;
    height: max-content;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .buy-sell-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    border-style: hidden;
    border-radius: 9px;
    background-color: black;
    color: white;
    padding: 3px 5px;
  }
  .cancel-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    border-style: hidden;
    border-radius: 9px;
    background-color: white;
    color: black;
    padding: 3px 5px;
    border: solid black 1px;
  }
  label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 500;
  }